
// dev bg func() for carrousel
$bg-dev: false;

@mixin background-dev($n) {
  @if $bg-dev == true {
    background-color: rgba(red, $n);
  }
}

.contentView {
  height: 363px
}

.arrows, .pagination {
  height: 20px;
  width: 98%;
  position: absolute;
  bottom: 0;
  p {color: rgba($white, .4);}
}

.pagination {
  bottom: auto;
  top: -50%;
  p {
    font-size: 30px;
    color: rgba($white, 1);
    text-shadow: 0 0 5px rgba($black, .5);
  }
}

// Carrousel start here
#carrousel {
  left: 0;
  height: 340px;
  width: 1280px;
  position: absolute;
  overflow-y: hidden;
  //overflow-x: hidden;
  @include background-dev(0.1);
  h4, h3 {
    padding: 0;
    margin: 0;
  }
  .overflow-div {
    margin-left: -25px;
    width: 1280px;
    display: flex;
    flex-wrap: nowrap;
  }
  .slider-animation {
    display: flex;
    align-self: center;
    padding: 0;
  }
}

#carrousel .slider-animation {
  //animation-duration: 3s;
  &:first-child { opacity: .75;}
  &:last-child { opacity: .75;}  
  .program {
    opacity: .75;
    h3 {color: rgba($white, .8);}
    h4 {
      margin-bottom: 5px;
      color: rgba($white, .6);
    }
    .poster {
      animation: 4s linear 0s;
    }
  }
  .program.detail {
    display: flex;
    flex-wrap: wrap;
    height: 345px;
    width: 600px;
    opacity: 1;
    animation: fadeIn 1s;
    @include background-dev(0.2);
    .time {
      width: 600px;
      padding-left: 15px;
      h3 {
        font-size: 24px;}
      h4 {
        margin-bottom: 4px;
        font-size: 18px;
      }
    }
    .tumb {
      width: 200px;
      padding-left: 15px;
      .poster {
        //width: 185px;
        transform: scale(1);
        //animation: fadeIn .75s;
      }
    }
    .content {
      width: 400px;
      padding: 0 15px;
      //animation: fadeIn .5s;
      .episode {
        margin-bottom: 20px;
        h2 {
          margin: 0;
          font-size: 28px;
          color: rgba($white, 1);
        }
        h4 {
          font-size: 20px;
          color: rgba($white, .75);
        }
      }
    }
  }
  .program.compact {
    width: 182px;
    height: 275px;
    padding-left: 17px;
    @include background-dev(0.1);
    h3 {font-size: 18px;}
    h4 {font-size: 14px;}
    .poster {
      //width: 148px;
      // margin-top: 10px;
      transform: scale(.8) translateX(-22px) translateY(-22px);
    }
  }
}