/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

//== Colors
//## Gray and brand colors for use across Bootstrap.
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #29abe2 !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$black:                 $gray-base;
$white:                 #fff;

//== Scaffolding
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg:               $black;
//** Global text color on `<body>`.
$text-color:            rgba($white, .75) !default;

//** Global textual link color.
$link-color:            $text-color !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

//== Grid system
//## Define your custom responsive grid.
//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;

//== Container sizes
//## Define the maximum width of `.container` for different screen sizes.
// Small screen / tablet
$container-tablet:             (1220px + $grid-gutter-width) !default;
// Medium screen / desktop
$container-desktop:            (1220px + $grid-gutter-width) !default;
// Large screen / wide desktop
$container-large-desktop:      (1220px + $grid-gutter-width) !default;

// Include font path
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";