@import 'fonts';
@import 'variables';

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  //overflow: hidden;
  font-family: interstatepro, Helvetica, sans-serif;
}

.container {
  min-width: 1280px;
}

.initial-view {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.background-image {
  width: 100%;
  z-index: 9999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(40%);
}

// Header => move to directive when is ready
.header {
  height: 220px;
  padding-top: 30px;
  h2 {
    margin: 0;
    color: $white;
    text-align: center;
    font-weight: light;
    text-shadow: rgba($black, .75) 0 0 10px;
    span {
      font-size: 25px;
      margin-left: 10px;
      transform: rotate(140deg);
    }
  }
  .logo {
    margin-top: -30px;
    margin-right: 30px;
    height: 50px;
  }
}

// Top menu => move to directive when is ready
.content-view {
  width: 100%;
  height: 1000px; // Real height = 500px
  background-image: linear-gradient(to bottom, rgba($black, .25), rgba($black, .8) 7%);
}

.top-level-menu {
  margin: 0 10px 25px;
  padding: 25px 0 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: lighter;
  border-bottom: 1px solid rgba($white, .25);
  li {
    margin: 0 10px -3px;
    padding: 0 0 15px 0;
  }
  li.active {
    border-bottom: 5px solid $brand-primary;
    a {color: $brand-primary;}
  }
  .search {
    font-size: 30px;
  }
}

.tip.navigation {
 position: absolute;
 right: 20px;
 top: 30px;
}

.box {
  height: 500px;
  width: 10000px;
  background-color: red;
  overflow-x: scroll;
  overflow-y: scroll;
  .asdf {
    width: 300px;
    float: left;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
