@import 'fonts';
@import 'variables';

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  //overflow: hidden;
  font-family: interstatepro, Helvetica, sans-serif;
  background-color: $black;
}

.container {
  min-width: 1280px;
}

.initial-view {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

#page-content {
  z-index: 1;
  width: 100%;
  position: absolute;

}

#background-image {
  z-index: -9999;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  animation-delay: 1s;
  animation-duration: 2s;
  filter: sepia(25%) grayscale(25%);
}

// Header => move to directive when is ready
.header {
  height: 220px;
  padding-top: 30px;
  h2 {
    margin: 0;
    color: $white;
    text-align: center;
    font-weight: light;
    text-shadow: rgba($black, .75) 0 0 10px;
    span {
      font-size: 25px;
      margin-left: 10px;
      transform: rotate(140deg);
    }
  }
  .logo {
    margin-top: -30px;
    margin-right: 30px;
    height: 50px;
  }
}

// Top menu => move to directive when is ready
.content-view {
  width: 100%;
  height: 500px; // Real height = 500px
  background-image: linear-gradient(to bottom, rgba($black, .25), rgba($black, .8) 7%);
}

.top-level-menu {
  margin: 0 10px 25px;
  padding: 25px 0 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: lighter;
  border-bottom: 1px solid rgba($white, .25);
  li {
    margin: 0 10px -3px;
    padding: 0 0 15px 0;
  }
  li.active {
    border-bottom: 5px solid $brand-primary;
    a {color: $brand-primary;}
  }
  .search {
    font-size: 30px;
  }
}

.tip.navigation {
 position: absolute;
 right: 20px;
 top: 30px;
}

#carrousel {
  left: 0;
  height: 400px;
  width: 1280px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: scroll;
  //background-color: rgba(red, 0.1);
  h4, h3 {
    padding: 0;
    margin: 0;
  }
  .overflow-div {
    display: flex;
    flex-wrap: nowrap;
    //transform: translateX(-1000px);
  }
  .slider {
    display: flex;
    align-self: center;
    padding: 0 10px;
  }
}

#carrousel .slider {
  .detail {
    display: flex;
    flex-direction: row;
    height: 380px;
    width: 600px;
    //background-color: rgba(red, 0.3);
    .content {
      width: 600%;
    }
    .tumb {
      width: 40%;
      background-color: fuchsia;
      .poster {
        transform: scale(.5);
      }
    }
  }
  .poster {
    h3 {font-size: 18px;}
    h4 {font-size: 14px;}
    img {transform: scale(.9);}
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
