<div class="flex-width-40">
  <ul class="navigation inner-menu">
    <li ng-click="" class="active" type="episode"><a>EPISODIO</a></li>
    <li ng-click="" class="" type="new"><a>EPISODIOS ESTRENO</a></li>
    <li ng-click="" class="" type="last"><a>ÚLTIMOS 5 EPS</a></li>
    <li ng-click="" class="" type="all"><a>TODA LA SERIE</a></li>
  </ul>
</div>

<div class="flex-width-60 clearfix modal-recording-info">
  <div class="thumb pull-left">
    <img class="poster img-responsive" ng-src="{{ modal.apiParams.images.base_url }}{{ modal.apiParams.images.poster_sizes[2] }}{{ modal.show.path }}">
  </div>
  <div class="content pull-left">
    <h4 class="title">{{ modal.show.name }} <span class="label ratings">PG</span></h4>
    <p class="overview" ng-if="!modal.outOfSpace">{{ modal.show.overview | limitTo : 100 }}</p>
    <h4 class="out-of-space" ng-if="modal.outOfSpace">¿Necesitas más espacio? Presiona <strong>OK</strong> para comprar</h4>
    <h5 class="time"><strong>{{ modal.recodingCost }}</strong> {{ (modal.recodingCost > 1) ? 'hrs' : 'hr' }} en la nube </h5>
  </div>
</div>

<div class="flex-width-100 progress-bar-container">
  <div class="clearfix">
    <span class="glyphicon glyphicon-cloud-upload pull-left"></span>
    <uib-progress class="pull-left" max="modal.user.totalSpace">
      <uib-bar ng-repeat="bar in modal.diskSpace track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 1">{{bar.value}}</span></uib-bar>
    </uib-progress>
  </div>
</div>