<div id="show-detail" class="modal-body">

  <section class="modal-header clearfix">
    <h3 class="pull-left">{{ modal.title | uppercase }}</h3>
    <img class="tip pull-right" src="../../assets/images/navigation.png">
    <img class="tip pull-right" src="../../assets/images/back.png">
  </section>

  <section class="modal-container">

    <div
      ng-if="modal.loading"
      ng-include="'../app/components/spinner.template.html'"
      class="spinner-box">
    </div>

    <div ng-if="!modal.loading">
      <ng-switch on="modal.stage">
        <ng-switch ng-switch-when="confirm-recording">
          <ng-include class="flex" src="'../app/modals/show-recording/confirm_recording.html'"></ng-include>
        </ng-switch>
        <div ng-switch-when="purchase-space">
          <ng-include class="flex" src="'../app/modals/show-recording/purchase_space.html'"></ng-include>
        </div>
        <div ng-switch-default>
          <ng-include class="flex" src="'../app/modals/show-recording/set_recoding.html'"></ng-include>
        </div>
      </ng-switch>
    </div>

    <!--end modal-container-->
  </section>
</div>
